<header>
    <nav class="custom-nav">
        <a href="/home">Home</a>
        <a href="/">Logout</a>
    </nav>
    <h1 id="main-h1">{{user.username}}</h1>
</header>
<main class="main-body">
    {{#each user.posts as |post|}}
        <a class="post-list" href="/update-post/{{id}}">
            <div>
                {{title}}
            </div> 
            <div>
                posted on {{posted_on}}
            </div>
        </a>
    {{/each}}
    <a href="/add-post" class="new-post-btn">Add New Post</a>
</main>
