<header>
    <nav class="custom-nav">
        <a href="/home">Home</a>
        <a href="/login/1">Login</a>
    </nav>
    <h1 id="main-h1">The Tech Blog</h1>
</header>
<main class="main-body">
    <section class="card">
    <div class="card-header">
        <p class="post-title">Welcome!</p>
    </div>
    <div class="card-body">Welcome to the Tech Blog! Log in or sign up to add posts and comment on other's posts! Feel free to view all posts without signing in by clicking on 'home' (You just can't add any comments till you sign in!)</div>
</section>
</main>